body {
    margin: 0;
    padding: 0;
}

.app {

}

a {
    color: yellow;
}

a:visited {
    color: red;
}

a:hover {
    color: green;
}

/*   NAV BAR  */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
/* END OF NAV BAR */

#main-content {
    width: 90%;
    margin: 50px auto;
    overflow-clip: hidden;
}

.center-horizontal {
    margin: 0 auto;
    width: 500px;
}


.size-30 {
    width: 30px;
    height: 30px;
}

.size-40 {
    width: 40px;
    height: 40px;
}

.size-50 {
    width: 50px;
    height: 50px;
}

.size-percent-50 {
    width: 50%;
}

.circle {
    border-radius: 50px;
    border: 2px solid white;
}

/*LAYOUT*/

.left-float {
    float: left;
}

.right-float {
    float: right;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cell {
    flex: 0 0 32%;
    height: 500px;
    margin-bottom: 5px;
    background-color: #999;
    border: 5px lightgray;
}

.padding-50 {
    margin: 50px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}

.overlay-hidden {
    overflow: hidden;
}

.corner-radius-5 {
    border-radius: 5px;
}
.corner-radius-10 {
    border-radius: 5px;
}
/* COLORS */

.azure {
    background-color: azure;
}

.mango {
    background-color: orange;
}