<div>
    <div v-if="showModal" class="overlay" v-on:click="showModal = !showModal">
        <div class="center-horizontal size-percent-50">
            <detail-shot class="cell" v-bind:shot="selectedShot" @detail-clicked="detailShotClicked"></detail-shot>
        </div>
    </div>

    <div v-if="loading == true">
        Loading...
    </div>
    <div v-if="loading == false" class="grid">
            <detail-shot class="cell" v-for="shot in shots" v-bind:shot="shot" @detail-clicked="detailShotClicked"></detail-shot>
    </div>
</div>