<div class="root-content">
    <div v-if="showModal" class="overlay" v-on:click="dismissModal" v-bind:class="{'fade-in': showModal, 'fade-out': !showModal}">
        <div class="center">
            <detail-shot v-bind:shot="selectedShot" @detail-clicked="detailShotClicked"></detail-shot>
        </div>
    </div>
    <div v-if="loading == true">
        Loading...
    </div>
    <div v-if="loading == false" class="grid">
        <shot-item class="cell-4" v-for="shot in shots" v-bind:shot="shot" @detail-clicked="detailShotClicked"></shot-item>
    </div>
</div>